<section class="section">
  <div class="container">
    <div class="columns">
     
      <div class="column is-half">
        <h2>Previous events</h2>
         <%= render partial: 'previous' %>
        
      </div>
      <div class="column is-half">
        <h2>Upcomming events</h2>
         <%= render partial: 'upcoming' %>
        
      </div>
      
    </div>
  </div>

  

</section>



