<section class="section">
  <div class="container">
    <div class="columns">
     
      <div class="column is-half">
        <h3 class="title is-3">Previous events</h2>
         <%= render partial: 'previous' %>
        
      </div>
      <div class="column is-half">
        <h3 class="title is-3">Upcoming events</h2>
         <%= render partial: 'upcoming' %>
        
      </div>
      
    </div>
  </div>

  

</section>



