
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
     
      </div>
      <div class="column is-half">
      <h3 class="title is-3">My events</h2>
         <%= render partial: 'user' %>
      </div>
      <div class="column is-one-quarter">
      </div>
    </div>
  </div>
</section>